.autocomplete-items {
    position: absolute;
    background-color: inherit;
    width: 100%;
    box-shadow: 0 0 3px grey;
}

.title{
    font-family: 'Oswald';
}
.searchBarContainer input{
    margin-bottom: 0;
}
.searchBarContainer{
    background-color: white;
}

.search-suggestion{
    padding: 0.5em;
}
.search-suggestion:hover{
    background-color: aliceblue;
}

.button-primary {
    margin-top: 2em;
}

.delbtn:hover{
    color: red;
}

html {
	position: relative;
	min-height: 100%;
}   

body{
    background-color: #fbfbfc;
    margin-bottom: 2em;
}

.center{
    text-align: center;
}

h6{
    font-weight: bold;
}
.footer{
    position: absolute;
    left: 0;
    bottom: -2.5em;
    width: 100%;
    padding-bottom: 0.5em;
    height:2em;
    text-align: center;
}
.footer a{
    color: inherit;
    text-decoration: inherit;
    
}