.autocomplete-items {
    position: absolute;
    background-color: inherit;
    width: 100%;
    box-shadow: 0 0 3px grey;
}

.title{
    font-family: 'Oswald';
}
.searchBarContainer input{
    margin-bottom: 0;
}
.searchBarContainer{
    background-color: white;
}

.search-suggestion{
    padding: 0.5em;
}
.search-suggestion:hover{
    background-color: aliceblue;
}

.button-primary {
    margin-top: 2em;
}

.delbtn:hover{
    color: red;
}

html {
	position: relative;
	min-height: 100%;
}   

body{
    background-color: #fbfbfc;
}

.center{
    text-align: center;
}

h6{
    font-weight: bold;
}

.container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}

.footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
    padding: 0.7em 0;
  }
.footer a{
    color: inherit;
    text-decoration: inherit;
    
}