<!DOCTYPE html>
<html>
  <head>

    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Find A Game</title>
  
    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap" rel="stylesheet">

  
    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="static/css/normalize.css">
    <link rel="stylesheet" href="static/css/skeleton.css">
    <link rel="stylesheet" href="static/css/custom.css">
    <link rel ="stylesheet" href = "static/css/index.css">
    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="static/images/favicon.png">
    <script src="https://kit.fontawesome.com/1b03faddad.js" crossorigin="anonymous"></script>

    <!-- JS
    -------------------------------------------------- -->

  </head>
  <body>
    <div class='container'>
      <section class="header">
        <h2 class="title">Find A Game</h2>
        <h5>Video game recommendation powered by the Steam platform</h5>
        
        <div class="value-props row">
          <div class="four columns value-prop">
            1 - Find games on the Steam platform using the search bar below
          </div>
          <div class="four columns value-prop">
            2 - Submit a list of games you enjoy
          </div>
          <div class="four columns value-prop">
            3 - Recieve recommendations of great games that match your taste
          </div>
        </div>
      </section>

      <div class='docs-section' id="main">

        <form autocomplete="off">
          <h6>Search for games</h6>
          <div class="searchBarContainer">
            <input class="u-full-width patternSearchBar" type="text" placeholder="" id="patternSearchInput">
          </div>
        </form>

        <div id="tracked-games">
          <h6 id='enjoyed-title' for="exampleMessage">Selected games</label>
          
        </div>
        
        <div class='center'>
          <button class='button button-primary' id='recommend' onClick=getRecommendation()>Recommend</button>
        </div>

        <div id="recommended-games">
          <h6 id='enjoyed-title' for="exampleMessage">Recommended games</label>
          
        </div>
      </div>
      
      <div>
        Explore the mapped-out video-game genre space and find how your favourite games relate to each other here:
        <div class='center'>
          <a class='button button-primary' id='go' href='/map'>Go</a>
        </div>
      </div>
      <section class='footer'>
        <a href="https://jamalrahman.co.uk">jamalrahman.co.uk</a>
      </section>
    </div>
  </body>
</html>

<script>
var searched_games = [];
var positive_games = [];

function clearRecommendations(){
  var paras = document.getElementsByClassName('recommendation-item');

  while(paras[0]){
    paras[0].parentNode.removeChild(paras[0])
  }
}

function getRecommendation(){
  clearRecommendations()
  appids = positive_games.map(app => app.appid).join()
 
  var req = new XMLHttpRequest();
  req.overrideMimeType("application/json");
  var url = 'https://jr-recommender.herokuapp.com/api?input='+appids

  req.open('GET', url, true)

  req.onload = function() {

    var jsonResponse = JSON.parse(req.responseText);
    results = eval(jsonResponse.output)

    results.forEach(function(item){
      trackedGameDiv = document.createElement("DIV")
      trackedGameDiv.classList.add("recommendation-item")
      trackedGameDiv.innerHTML+=item
      document.getElementById("recommended-games").appendChild(trackedGameDiv)
    })
  }
  req.send(null)
}


function autocomplete(inp) {
    /*the autocomplete function takes two arguments,
    the text field element and an array of possible autocompleted values:*/
    var currentFocus;
    inp.addEventListener("focus", function(e) {
    	this.parentNode.setAttribute("class", "searchBarContainer focused");
    });
    inp.addEventListener("blur", function(e) {
    	this.parentNode.setAttribute("class", "searchBarContainer");
    });
    inp.addEventListener("input", function(e) {
        var autocompleteList, val = this.value;
        closeAllLists();
        if (!val) { return false;}
        currentFocus = -1;
        autocompleteList = document.createElement("DIV");
        autocompleteList.setAttribute("id", this.id + "-autocomplete-list");
        autocompleteList.setAttribute("class", "autocomplete-items");
        this.parentNode.appendChild(autocompleteList);
				search(autocompleteList,val);

    });
    
function search(autocompleteList,query){
  var search_results = [];
  
  var req = new XMLHttpRequest();
  req.overrideMimeType("application/json");
  var url = 'https://jr-recommender.herokuapp.com/search?query='+query
  req.open('GET', url, true);

  req.onload  = function() {
      var jsonResponse = JSON.parse(req.responseText);
      search_results = jsonResponse.apps;
      
      for (i = 0; i < search_results.length; i++) {

        b = document.createElement("DIV");
        b.classList.add("search-suggestion");
        b.innerHTML += search_results[i]["name"];

        searched_games.push(search_results[i]);

        b.addEventListener("click", function(e) {
            
            name = this.innerHTML
            console.log(name)
            // Get appid of the game
            app = getSearchingGame(name)

            // Add UI for tracked game
            trackGame(app)

            // Clear up search bar
            inp.value = '';
            closeAllLists()
        });
        autocompleteList.appendChild(b);
    }
  };
  req.send(null);
}
  function closeAllLists(elmnt) {
    /*close all autocomplete lists in the document,
    except the one passed as an argument:*/
    var x = document.getElementsByClassName("autocomplete-items");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) {
        x[i].parentNode.removeChild(x[i]);
      }
    }
  } 
}

function trackGame(app){
  if(!positive_games.includes(app)){
    

    trackedGameDiv = document.createElement("DIV")
    trackedGameDiv.setAttribute("class", "tracked-games-items");
    delbtn = document.createElement("SPAN")
    delbtn.setAttribute("class","fas fa-times delbtn")
  

    trackedGameDiv.appendChild(delbtn)
    trackedGameDiv.innerHTML+=app.name
    document.getElementById("tracked-games").appendChild(trackedGameDiv)
    positive_games.push(app)
  }
}

function getSearchingGame(name){
  console.log(searched_games)
  return searched_games.find(function(element){
    return element["name"] == (name)
  });
}



  
  autocomplete(document.getElementById("patternSearchInput"));
</script>